h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: antiquewhite;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

body {
    background-color: #212124;
} 


.f1 {
    background-color: burlywood;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}